
{%- for i in (obj.interfaces or []) -%}
  {%- set n = i.name | default('') -%}
set interfaces {{ n }} unit 0 family ethernet-switching interface-mode access
set interfaces {{ n }} unit 0 family ethernet-switching vlan members {{ uvn }}
{%- endfor -%}
